* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  /* background-color: red; */
  font-family: Arial;
}

:root {
  --black-color: #180807;
  --white-color: #ffffff;
  --gray-color: #c2bdbd;
  --primary-yellow-color: #e9983f;
}

.parent-container {
  min-height: 100vh;
  width: 100%;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  height: 80px;
  /* border: 1px solid; */
  gap: 30px;
}
.logo-div {
  background-color: var(--primary-yellow-color);
  color: var(--white-color);
  height: inherit;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.logo-div img {
  height: inherit;
  width: inherit;
}

.pooja-we-do select {
  font-size: 16px;
  border: none;
  outline: none;
}

.call-us-on {
  background-color: var(--primary-yellow-color);
  color: var(--white-color);
  height: inherit;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 300px;
}
.Call-us-on-whatsapp {
  display: flex;
  flex-direction: column;
}

/**************************Banner style********************/

.first-text{
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main-text{
  font-size: 50px;
}

/**************************Banner style********************/

.book-today {
  background-image: url("/images/sample3-bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: var(--white-color);
  position: relative;
}

.call-now-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-yellow-color);
  padding: 16px 35px 16px 35px;
  position: absolute;
  bottom: 130px;
  left: 45%;
  font-weight: normal;
}
.call-now-btn-in {
  display: flex;
  gap: 20px;
}

/* @media screen and (max-width: 960px) {
  .call-now-btn {
    font-size: 18px;
    padding: 10px 30px;
    right: 15%;
    bottom: 100px;
  }
}    */
.call-now-btn:hover {
  /* cursor: pointer;
  border: none;
  outline: none; */
  background-color: var(--primary-yellow-color);
  color: var(--white-color);
  /* padding: 10px 20px; */
}

.About {
  height: 75vh;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: 300px;
}

.pandit-ji-img {
  height: 400px;
}

.name {
  font-weight: normal;
  font-size: 30px;
}

.about-panditji-name {
  margin-top: 10px;
  border-left: 3.5px rgb(231, 155, 13) solid;
}
.about-pooja-path {
  background-color: #faf8f1;
  height: 75vh;
  display: flex;
  align-items: center;
  gap: 100px;
}

.pooja-performed-by-panditji {
  margin-left: 295px;
}

.Poojas-performed {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.other-pooja {
  margin-top: 80px;
  text-align: center;
}

.pooja-details {
  height: 80vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.card {
  height: 300px;
  width: 280px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 8px grey;
}

.photo img {
  border-radius: 5px 5px 0px 0px;
  height: 50%;
  width: 100%;
}

.pooja-type {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.pooja-type p {
  font-size: 15px;
  font-weight: bold;
}

.read-btn {
  height: 40px;
  position: relative;
  width: 150px;
  background-color: #e9983f;
}

.read-btn p {
  font-size: 16px;
  margin-top: 10px;
  color: white;
}

.read-btn:hover {
  width: 160px;
  background-color: rgb(187, 57, 57);
}

.txt:hover {
  color: rgb(187, 57, 57);
}

.know-where-to-start img {
  /* background-image: url("/images/wherseToStart.png"); */
  height: 240px;
  width: 100%;
}

.book-now {
  position: relative;
  color: #e9983f;
    top: -86px;
    right: -44.5%;
    height: 40px;
    width: 165px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.book-now:hover {
  background-color: #e9983f;
  color: var(--white-color);
  width: 169px;
}

.contact-form form {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.fullName input,
.phoneNumber input,
.pujaService select,
.city input,
.state input,
.yourMessage textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 14px 15px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  resize: none;
}

option, textarea,.pujaService select {
  color: #8b8b8b;
  opacity: 1; 
}

input::placeholder {
  color: #8b8b8b;
  opacity: 1; 
}

.contact {
  height: 70vh;
  width: 100%;
  background-color: #faf8f1;
  margin-top: -42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}

/*----------------------------FORM-------------------------*/

/************************************FORM END**************************************/

.foot {
  height: 43vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-weight: lighter;
  font-size: 14px;
  background-color: rgb(29, 25, 25);
}

.col {
  color: var(--white-color);
  list-style-type: none;
}

.col li {
  cursor: pointer;
  font-weight: lighter;
}

/*------------------horizontal line----------------*/
.grey-line {
  background-color: #4a4a4a; /* Grey color */
  height: 1.5px; /* Thickness of the line */
  border: none; /* Remove border */
}

.icons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
